.mdl-list .mdl-list__item:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}

.mdl-list a {
    color: rgba(0,0,0,.87);
    text-decoration: none;
}

.mdl-textfield, .mdl-button {
    width: 100%
}

.mdl-layout__header .mdl-layout-title a {
    color: rgb(255,255,255);
    text-decoration: none;
    font-weight: 400;
}

/* MODAL FORMS */
.sb-modal-form .sb-footer {
    padding: 16px 0 16px 16px;
}

.sb-modal-form .mdl-mega-footer__bottom-section,
.sb-modal-form .mdl-mega-footer__link-list {
    margin: 0;
    padding: 0;
}

.sb-modal-form button {
    min-width: 90px;
}

.sb-modal-form .mdl-layout__header-row {
    padding: 0 20px 0;
}

.sb-modal-form .mdl-mega-footer__link-list {
    float: right;
}

.sb-modal-form .page-content {
    padding: 16px;
    min-width: 400px;
}

.sb-modal-form .mdl-textfield__label {
    top: 0;
}

.sb-modal-form input:focus, .sb-modal-form textarea:focus  {
    outline: none;
    border-bottom: 1px solid rgb(0,150,136);
}

/* OTHER */
.sb-no-project {
    text-align: center;
    padding: 35px;
}
