var config = {
    general: {
        port: 3001
    },
    opc: {
        programmeKey: 'teamname|programmeId',
        programmeId: 'programmeId',
        username: 'teamname',
        password: 'password',
        ownerId: 'ownerId',
        managedCardProfile: 'managedCardProfile',
        managedAccountProfile: 'managedAccountProfile'
    },
    google: {
        mapKey: 'mapKey'
    }
};

module.exports = config;
